html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  padding: 0.5em;
}

#main-container {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  flex-grow: 1;
}

#app-toolbar {
  padding: 0 0 0.5em;
  text-align: center;
}

#app-toolbar .separator {
  display: inline-block;
  width: 30px;
}

#app-toolbar .btn {
  padding-left: 1rem;
  padding-right: 1rem;
}

.btn-group-xs > .btn, .btn-xs {
  padding: .25rem .4rem;
  font-size: .7rem;
  line-height: .5;
  border-radius: .2rem;
}

.container hr {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.list-container {
  padding: 0 1rem 1rem;
  max-height: 20rem;
  overflow-y: scroll;
}

.row.list {
  border-bottom: 1px solid #dedede;
  margin-bottom: 2px;
  padding-bottom: 2px;
}

.row.list:last-child {
  border-bottom: none;
}

.modal .btn.bt-ok,
.modal .btn.bt-yes,
.modal .btn.bt-no,
.modal .btn.bt-cancel,
.modal .btn.bt-close {
  min-width: 5rem;
}